Makefile
Makefile.in
configure
config.log
config.status
aclocal.m4
autom4te.cache
libtool
*.gz
*.patch
*.o
*~
\#*#
.*
!.gitignore
*.bak
*.err
stdout
*.lo
*.la
*.orig
*.rej
*.old
TAGS
INSTALL
*.log
callgrind.*
ms_print.*
massif.*
pan.*
*.dvi
*.aux
*.ps
*.pdf
*.toc
*.S
*.tgba
*.zip
*.s
*.ii
cachegrind.*
*.gcda
*.gcno
*.info
ltdl
