.deps
Makefile
Makefile.in
defs
explicit
.libs
tgbaread
readsave
ltl2tgba
ltlprod
bddprod
explprod
*.ps
*.dot
tripprod
mixprod
spotlbtt
ltlmagic
expldot
powerset
reduccmp
reductgba
randtgba
blue_counter
input
output1
output2
eltl2tgba
intvcomp
taatgba
